.darkMode.education *::selection {
    background: white;
    color: var(--slate-black);
}

.education {
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 80px 70px 50px 70px;
    background: white;
    color: var(--slate-black);
}
.darkMode.education {
    background: #020202;
    color: white;
}
.education h1 {
    left: 70px;
    font-size: 10rem;
    margin: 0;
}

@media screen and (max-width: 770px) and (min-width: 200px) {
    .education {
        padding: 80px 20px 50px 20px;
    }
    .education h1 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 1000px) and (min-width: 770px) {
    .education h1 {
        font-size: 8rem;
    }
}