::selection {
    color: white;
    background: var(--slate-black);
}
.darkMode ::selection {
    color: #121212;
    background: white;
}
body:has(.darkMode) {
    background: #000;
}
.experience {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 100vh;
    height: 100%;
    padding: 80px 70px 50px 70px;
    background: white;
    color: var(--slate-black);
}
.darkMode.experience {
    background: #020202;
    color: white;
}

.experience h1 {
    left: 70px;
    font-size: 10rem;
    margin: 0;
}

.timeline{
    font-family: 'Poppins';
}
.timeline ul{
    width: 100%;
}

@media screen and (max-width: 770px) and (min-width: 200px) {
    .experience {
        padding: 80px 20px 50px 20px;
    }
    .experience h1 {
        font-size: 3rem;
    }
    /* work for the experience timeline here */
    .timeline {
        /* display: none; */
    }
}

@media screen and (max-width: 1000px) and (min-width: 770px) {
    .experience h1 {
        font-size: 8rem;
    }
}